<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="6" android:versionName="1.0.0" package="de.atomfrede.android.scc">

    <uses-sdk android:maxSdkVersion="17" android:minSdkVersion="14" android:targetSdkVersion="17"/>

    <application android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:name=".application.SccApplication_" android:theme="@android:style/Theme.Holo.Light.DarkActionBar">
        <activity android:name="de.atomfrede.android.scc.MainActivity_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".lap.LapActivity_"/>

    </application>

</manifest>